table.detail-view {
  th {
    width: 20%;
  }
  td {
    width: 80%;
  }
}

table.kv-grid-table th {
  font-size: 88%
}

.column_center {
  width: 100%;
  text-align: center;
}

form.responsive {
  div.form-group {
    width: 45%
  }
}
table.kv-grid-table input.form-control{
  width: initial;
}
.name{text-transform: capitalize ;  }
.navbar-nav .nav-link{padding-right: .5rem; padding-left: .5rem}
